@import "./custom.scss";

#root {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    header {
        width: 220px;
        height: 100vh;
        border-right: 3px solid $global-border;
        box-sizing: border-box;
        position: fixed;
        box-shadow: 0 0 10px 0 #5877f34a;

        .logo-container {
            
        }
    }

    #main-content {
        margin-left: 220px;
    }
}