:root {
	--main-color: #5877f3;
	--radius: 12px;
}

#plusBttn {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#plusBttn > button {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	padding: 0;
	background-color: var(--main-color);
}

#plusBttn > button > span > svg {
	fill: #fff;
}

#plusBttn > .uk-dropdown {
	background-color: var(--main-color);
	border-radius: var(--radius);
	padding: 20px;
	min-width: 180px;
}

#plusBttn > .uk-dropdown > ul > li > a {
	font-size: 16px;
	color: #fff;
}